.control-label {
	padding-top: 10px;
}

.row {
	margin-bottom: 15px;
}

.picker-switch.accordion-toggle {
	display: none;
}

.dropdowns {
	text-align: left;
}

.saveRegularRecord {
	margin-right: 0.5em;
}