body {
	font-family: "Comic Sans MS", "微軟正黑體", "Microsoft JhengHei";
	background-color: #A0A0A0;
}

.center {
	text-align: center;
	vertical-align: text-top;
}

.status-code {
	color: #fff;
	padding: 20px 5px;
	font-size: 6em;
}

.error-content {
	padding: 150px;
	display: inline-block;
	background-color: #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.error-content>img {
	width: 100%;
	height: auto;
	border-color: #fff;
	border-style: solid;
	border-radius: 30%;
	-moz-border-radius: 30%;
	-webkit-border-radius: 30%;
	border-color: #fff;
}