.onoffswitch {
	position: relative;
	width: 50px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #CCCCCC;
	border-radius: 6px;
}

.onoffswitch-inner {
	display: block;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 26px;
	padding: 0;
	line-height: 26px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "Y";
	padding-left: 4px;
	background-color: #FFFFFF;
	color: #000000;
}

.onoffswitch-inner:after {
	content: "N";
	padding-right: 4px;
	background-color: #FFFFFF;
	color: #000000;
	text-align: right;
}

.onoffswitch-switch {
	display: block;
	width: 26px;
	margin: 0px;
	background: #666666;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 25px;
	border: 2px solid #CCCCCC;
	border-radius: 6px;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
	background-color: #5c72a2;
}