.budgetRow {
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 5px;
	margin: 6px 0px 6px 0px;
}

.budgetRow>div:nth-child(2), .budgetRow>div:nth-child(4) {
	padding: 6px;
}

.progress {
	margin: 0 !important;
	background-color: #FFFFFF;
	border-color: #dddfe2;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
}

.budgetProgress {
	height: 2em;
}

.budgetProgressBar {
	height: 100%;
	line-height: 1em !important;
	font-size: 1.8em !important;
	text-align: left;
	padding-left: 0.1em;
	background-color: #d7dfeb;
}

.budgetIcon {
	width: 0.8em;
	height: 0.8em;
	position: relative;
	top: -0.1em;
}

.progressPercent {
	margin-top: -30px;
	font-size: 1.6em;
}

.progressPercent>span {
	color: #4b4f56;
}

.budgetContainer .col-xs-6, .budgetContainer .col-xs-12 {
	padding: 0;
	margin: 0;
}

.month {
	font-size: 4em;
	color: #999999;
	border-right: 3px solid #4267b2;
	padding-right: 5px;
}

.switchLabel {
	margin-right: 2px;
}

.switch {
	margin-left: 15px;
}