.template * {
	font-size: 1em;
	padding: 2px !important;
}

.recordTypeText {
	text-align: right;
}

.confirmation-buttons .btn, .record .btn {
	margin-left: 0.5em !important;
	margin-right: 0.5em !important;
	border-radius: 6px !important;
}

.popover-title {
	text-align: center;
}

.hidden-xs .record div {
	line-height: 25px;
}