.addIcon {
	font-size: 2em;
	background-color: #194973;
	border-radius: 1em;
	text-align: center;
	padding: 0.5em;
	box-shadow: 3px 3px 3px rgba(134, 134, 134, 0.5);
	margin: 0.2em;
}

.appMark {
	width: 30px;
	height: 30px;
	background-color: #ffffff !important;
	color: #3b5998 !important;
	font-size: 35px;
	padding-left: 8px;
	border-radius: 3px;
	font-weight: 300;
	line-height: 35px;
	cursor: pointer;
	padding-top: 1px !important;
	padding-bottom: 0px !important;
	margin-top: 5px !important;
	margin-left: 20px !important;
	margin-right: 0px !important;
	text-shadow: -0.5px 0 #3b5998, 0 0.5px #3b5998, 0.5px 0 #3b5998, 0 -0.5px #3b5998;
	text-decoration: none !important;
}

#adding {
	position: absolute;
	right: 0.9em;
	bottom: 0.8em;
	font-weight: 600;
	border-radius: 1.5em;
	height: 3em;
	box-shadow: 0.3em 0.2em 0.5em 0.2em #666666;
}

.navBottom {
	height: 4em;
}

.body {
	height: 100%;
	overflow: auto;}