<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:replace="template :: head(#{message.nav.addRecords})"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="/webjars/bootstrap/3.3.5/js/transition.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.5/js/collapse.js"></script>

<!-- Bootstrap-datepicker -->
<script type="text/javascript" src="/js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/js/bootstrap-datepicker/bootstrap-datepicker.min.css" />

<script type="text/javascript" th:src="@{/js/customized/addingRecord.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/customized/addingRecord.css}" />
</head>
<body>
	<div th:replace="template :: menuNav(#{message.nav.addRecords}, 'addingRecord')"></div>
	<div class="container">
		<div class="template">
			<form id="record" th:action="@{/records/add}" th:object="${record}" method="post">
				<div class="row">
					<div class="col-xs-3">
						<label for="recordDatePicker" class="control-label" th:text="#{message.common.date}"></label>
					</div>
					<div class="col-xs-9">
						<div class="input-group date" id="recordDatePicker">
							<input type='text' class="form-control" th:value="${#calendars.format(record.recordDate,'yyyy/MM/dd')}" readonly/> 
							<span class="input-group-addon pointer"> 
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<input id="recordDate" name="recordDate" type="hidden" th:value="${#calendars.format(record.recordDate,'yyyy/MM/dd')}" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="dropdowns" class="control-label" th:text="#{message.common.type}"></label>
					</div>
					<div class="col-xs-9">
						<div id="dropdowns" class="dropdowns">
							<div class="dropdown recordType">
								<button id="recordTypes" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="true">
									<span th:text="${record.recordTypeDisplayName}"></span>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="recordTypes">
									<li th:each="recordType : ${recordTypes}" >
										<a href="#" th:value="${recordType.name}" th:text="${recordType.displayName}"></a>
									</li>
								</ul>
							</div>
							<div class="dropdown toolType">
								<button id="toolTypes" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="true">
									<span th:text="${record.toolTypeDisplayName}"></span>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="toolTypes">
									<li th:each="toolType : ${toolTypes}" >
										<a href="#" th:value="${toolType.name}" th:text="${toolType.displayName}"></a>
									</li>
								</ul>
							</div>
							<div class="dropdown layaway hidden">
								<button id="layaways" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="true">
									<span th:text="${record.recordLayaway + '期'}"></span>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu scrollable-menu" aria-labelledby="layaways">
									<li th:each="i : ${#numbers.sequence( 1, 36)}">
										<a href="#" th:text="${i + '期'}" th:value="${i}"></a>
									</li>
								</ul>
							</div>
							<input id="recordType" name="recordType" type="hidden" th:value="${record.recordTypeName}">
							<input id="toolType" name="toolType" type="hidden" th:value="${record.toolTypeName}">
							<input id="layaway" name="recordLayaway" type="hidden" th:value="${record.recordLayaway}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="recordItem" class="control-label" th:text="#{message.common.item}"></label>
					</div>
					<div class="col-xs-9">
						<input id="recordItem" name="name" type="text" class="form-control" 
							th:placeholder="#{message.placeholder.enterItem}" th:value="${record.name}" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="recordMoney" class="control-label" th:text="#{message.common.money}"></label>
					</div>
					<div class="col-xs-9">
						<input id="recordMoney" name="money" type="number" min="0" pattern="[0-9]" class="form-control" 
								th:placeholder="#{message.placeholder.enterMoney}" th:value=${record.money} />
					</div>
				</div>
				<input id="pageName" name="pageName" type="hidden">
				<button id="addRecord" type="button" class="btn btn-default btn-sm" th:text="#{message.button.addRecord}"></button>
				<button id="addNext" type="button" class="btn btn-default btn-sm" th:text="#{message.button.addNext}"></button>
			</form>
		</div>
	</div>
</body>
</html>