<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="budget(budget, budgetMonth)"
	th:with="i=${budget.income.sum},o=${budget.outgoing.sum},s=${budget.saving.sum},rm=${budget.remain}">
	<div class="row budgetRow">
		<div class="col-xs-1 hidden-xs">
			<span class="month" th:text="${#numbers.formatInteger(budgetMonth + 1,2)}"></span>
		</div>
		<div class="col-xs-11 hidden-xs">
			<div class="row">
				<div th:with="p=${budget.percent}">
					<div class="budgetProgress progress">
						<div class="budgetProgressBar progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
							th:aria-valuenow="${p}" th:style="${'width: ' + p + '%'}"></div>
					</div>
					<div class="progressPercent">
						<img class="budgetIcon img-circle"
							th:src="${p} >= 80 ? @{/icons-dark/100.png} :
												(${p}>= 60 and ${p} < 80 ? @{/icons-dark/80.png} : 
												(${p} >= 40 and ${p} < 60 ? @{/icons-dark/60.png} : 
												(${p} >= 20 and ${p} < 40 ? @{/icons-dark/40.png} : @{/icons-dark/20.png})))" />
						<span th:text="${p + '%'}"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-7 left">
					<span th:text="#{message.budget.totalSaving(${s})}"></span>
				</div>
				<div class="col-xs-5 right">
					<span th:text="${rm.sum} >= 0? #{message.budget.remain(${rm.sum})} : #{message.budget.overBudget(${ 0 - rm.sum})}"></span>
				</div>
				<div class="col-xs-12 right">
					<span
						th:text="${rm.sum} >= 0? #{message.budget.detail(${rm.cash}, ${rm.credit})} : #{message.budget.detail(${rm.cash}, ${rm.credit})}"></span>
				</div>
			</div>
		</div>
		<div class="col-xs-3 visible-xs-block">
			<span class="month" th:text="${#numbers.formatInteger(budgetMonth + 1,2)}"></span>
		</div>
		<div class="col-xs-9 visible-xs-block">
			<div class="row">
				<div th:with="p=${budget.percent}">
					<div class="budgetProgress progress">
						<div class="budgetProgressBar progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
							th:aria-valuenow="${p}" th:style="${'width: ' + p + '%'}"></div>
					</div>
					<div class="progressPercent">
						<img class="budgetIcon img-circle"
							th:src="${p} >= 80 ? @{/icons-dark/100.png} :
												(${p}>= 60 and ${p} < 80 ? @{/icons-dark/80.png} : 
												(${p} >= 40 and ${p} < 60 ? @{/icons-dark/60.png} : 
												(${p} >= 20 and ${p} < 40 ? @{/icons-dark/40.png} : @{/icons-dark/20.png})))" />
						<span th:text="${p + '%'}"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-7 left">
					<span th:text="#{message.budget.totalSaving(${s})}"></span>
				</div>
				<div class="col-xs-5 right">
					<span th:text="${rm.sum} >= 0? #{message.budget.remain(${rm.sum})} : #{message.budget.overBudget(${ 0 - rm.sum})}"></span>
				</div>
				<div class="col-xs-12 right">
					<span
						th:text="${rm.sum} >= 0? #{message.budget.detail(${rm.cash}, ${rm.credit})} : #{message.budget.detail(${rm.cash}, ${rm.credit})}"></span>
				</div>
			</div>
		</div>
	</div>
</div>
</html>