<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:replace="template :: head(#{message.nav.creditCards})"></script>

<!-- Customized -->
<link rel="stylesheet" type="text/css" th:href="@{/css/customized/creditCards.css}" />
<script type="text/javascript" th:src="@{/js/customized/creditCards.js}"></script>
</head>
<body>
	<div th:replace="template :: menuNav(#{message.nav.creditCards}, 'creditCards')"></div>
	<div th:if="${not #lists.isEmpty(creditCards.creditCards)}">
		<div class="container hidden-xs">
			<div class="template creditCards">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-7" th:text="#{message.common.name}"></div>
					<div class="col-md-3" th:text="#{message.common.billingDay}"></div>
				</div>
				<div class="row creditCard dataRow" th:each="creditCard : ${creditCards.creditCards}">
					<div class="col-md-2">
						<button type="button" class="btn btn-default btn-sm removeCreditCard" th:attr="creditCardId = ${creditCard.id}">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-default btn-sm editCreditCard" th:attr="creditCardId = ${creditCard.id}">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
					</div>
					<div class="col-md-7" th:text="${creditCard.name}"></div>
					<div class="col-md-3" th:text="#{message.common.billingDayText(${creditCard.billingDay})}"></div>
				</div>
			</div>
		</div>
		<div class="container-fluid visible-xs-block">
			<div class="template creditCards">
				<div class="row">
					<div class="col-xs-3"></div>
					<div class="col-xs-6" th:text="#{message.common.name}"></div>
					<div class="col-xs-3" th:text="#{message.common.billingDay}"></div>
				</div>
				<div class="row creditCard dataRow" th:each="creditCard : ${creditCards.creditCards}">
					<div class="col-xs-3">
						<button type="button" class="btn btn-default btn-sm removeCreditCard" th:attr="creditCardId = ${creditCard.id}">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-default btn-sm editCreditCard" th:attr="creditCardId = ${creditCard.id}">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
					</div>
					<input class="creditCardId" type="hidden" th:value="${creditCard.id}" />
					<div class="col-xs-6" th:text="${creditCard.name}"></div>
					<div class="col-xs-3" th:text="#{message.common.billingDayText(${creditCard.billingDay})}"></div>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${#lists.isEmpty(creditCards.creditCards)}">
		<div class="container">
			<div class="template">
				<h4 th:text="#{message.noData}"></h4>
			</div>
		</div>
	</div>
	<div th:replace="template :: navBottom"></div>
	<div th:if="${!#lists.isEmpty(creditCards.creditCards)}">
		<div th:replace="template :: pages(${creditCards}, 'creditRecords')"></div>
	</div>
</body>
</html>