<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="container pages" th:fragment="pages(datas, dataName)">
	<nav aria-label="Page navigation" class="pages">
		<ul class="pagination">
			<li class="page-item" th:with="isFirst = ${datas.currentPage == datas.pageNumbers[0]}"
				th:classappend="${isFirst} ? 'disabled' : ''"><a class="page-link" tabindex="-1" aria-label="Previous"
				th:href="${isFirst} ? '#' : ${'/' + dataName + '/' + (datas.currentPage - 1)}"> <span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Previous</span>
			</a></li>
			<li class="page-item" th:with="isCurrent = ${datas.currentPage == pageNumber}"
				th:classappend="${isCurrent} ? 'active' : ''" th:each="pageNumber : ${datas.pageNumbers}"><a class="page-link"
				th:href="${isCurrent} ? '#' : ${'/' + dataName + '/' + pageNumber}" th:text="${pageNumber}"></a></li>
			<li class="page-item" th:with="isLast = ${datas.currentPage == datas.pageNumbers[datas.pageNumbers.size() - 1]}"
				th:classappend="${isLast} ? 'disabled' : ''"><a class="page-link"
				th:href="${isLast} ? '#' : ${'/' + dataName + '/' + (datas.currentPage + 1)}" aria-label="Next"> <span
					aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span>
			</a></li>
		</ul>
	</nav>
</div>
</html>