<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:replace="template :: head(#{message.nav.editRegualrRecords})"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="/webjars/bootstrap/3.3.5/js/transition.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.5/js/collapse.js"></script>

<script type="text/javascript" th:src="@{/js/customized/editingRegularRecord.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/customized/editingRegularRecord.css}" />
</head>
<body>
	<div th:replace="template :: menuNav(#{message.nav.editRegularRecords}, 'editingRegularRecord')"></div>
	<div class="container">
		<div class="template">
			<form id="regularRecord" th:action="@{/records/regular/save}" th:object="${regularRecord}" method="post">
				<div class="row">
					<div class="col-xs-3">
						<label for="dropdowns" class="control-label" th:text="#{message.common.type}"></label>
					</div>
					<div class="col-xs-9">
						<div id="dropdowns" class="dropdowns">
							<div class="dropdown recordType">
								<button id="recordTypes" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="true">
									<span th:text="${regularRecord.recordTypeDisplayName}"></span>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="recordTypes">
									<li th:each="recordType : ${recordTypes}" >
										<a href="#" th:value="${recordType.name}" th:text="${recordType.displayName}"></a>
									</li>
								</ul>
							</div>
							<div class="dropdown toolType">
								<button id="toolTypes" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="true">
									<span th:text="${regularRecord.toolTypeDisplayName}"></span>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="toolTypes">
									<li th:each="toolType : ${toolTypes}" >
										<a href="#" th:value="${toolType.name}" th:text="${toolType.displayName}"></a>
									</li>
								</ul>
							</div>
							<input id="recordType" name="recordType" type="hidden" th:value="${regularRecord.recordTypeName}">
							<input id="toolType" name="toolType" type="hidden" th:value="${regularRecord.toolTypeName}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="recordItem" class="control-label" th:text="#{message.common.item}"></label>
					</div>
					<div class="col-xs-9">
						<input id="recordItem" name="name" type="text" class="form-control" 
							th:placeholder="#{message.placeholder.enterItem}" th:value="${regularRecord.name}" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="recordMoney" class="control-label" th:text="#{message.common.money}"></label>
					</div>
					<div class="col-xs-9">
						<input id="recordMoney" name="money" type="number" min="0" pattern="[0-9]" class="form-control" 
								th:placeholder="#{message.placeholder.enterMoney}" th:value=${regularRecord.money} />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="note" class="control-label" th:text="#{message.common.note}"></label>
					</div>
					<div class="col-xs-9">
						<textarea id="note" class="form-control" name="note" rows="5"
							th:placeholder="#{message.placeholder.enterNote}" th:value=${regularRecord.note}></textarea>
					</div>
				</div>
				<input name="id" type="hidden" th:value="${regularRecord.id}" />
				<button id="saveRegularRecord" type="button" class="btn btn-default btn-sm" th:text="#{message.button.saveRegularRecord}"></button>
				<button type="button" class="btn btn-default btn-sm" th:text="#{message.button.cancel}" onclick="window.location.href='/records/regular/1'"></button>
			</form>
		</div>
	</div>
</body>
</html>