<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:replace="template :: head(#{message.nav.editCreditCards})"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="/webjars/bootstrap/3.3.5/js/transition.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.5/js/collapse.js"></script>

<script type="text/javascript" th:src="@{/js/customized/editingCreditCard.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/customized/editingCreditCard.css}" />
</head>
<body>
	<div th:replace="template :: menuNav(#{message.nav.editCreditCards}, 'editingCreditCard')"></div>
	<div class="container">
		<div class="template">
			<form id="creditCard" th:action="@{/creditCards/save}" th:object="${creditCard}" method="post">
				<div class="row">
					<div class="col-xs-3">
						<label for="name" class="control-label" th:text="#{message.common.name}"></label>
					</div>
					<div class="col-xs-9">
						<input id="name" name="name" type="text" class="form-control" th:placeholder="#{message.placeholder.enterName}"
							th:value="${creditCard.name}" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="billingDays" class="control-label" th:text="#{message.common.billingDay}"></label>
					</div>
					<div class="col-xs-9 dropdowns">
						<div class="dropdown billingDay">
							<button id="billingDays" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="true">
								<span th:text="${'每月 ' + creditCard.billingDay + ' 號'}"></span> 
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu scrollable-menu" aria-labelledby="billingDays">
								<li th:each="i : ${#numbers.sequence( 1, 31)}">
									<a href="#" th:text="${'每月 ' + i + ' 號'}" th:value="${i}"></a>
								</li>
							</ul>
						</div>
						<input id="billingDay" type="hidden" name="billingDay" th:value="${creditCard.billingDay}" />
					</div>
				</div>
				<input name="id" type="hidden" th:value="${creditCard.id}" />
				<button id="saveCreditCard" type="button" class="btn btn-default btn-sm" th:text="#{message.button.saveCreditCard}"></button>
				<button type="button" class="btn btn-default btn-sm" th:text="#{message.button.cancel}" onclick="window.location.href='/creditCards/1'"></button>
			</form>
		</div>
	</div>
</body>
</html>