<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>OOPS...</title>
<link rel="shortcut icon" th:href="@{/favicon/favicon.ico}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/customized/error.css}" />
</head>
<body>
	<div class="center status-code">Oops... Error</div>
	<div class="center">
		<div class="error-content">
			<img class="error-image" th:src="@{/pictures/error.gif}" />
		</div>
	</div>
</body>
</html>