<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:replace="template :: head(#{message.nav.home})"></script>
<!-- Customized -->
<script type="text/javascript" th:src="@{/js/customized/home.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/customized/home.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/customized/flipSwitch.css}" />
</head>
<body>
	<div th:replace="template :: menuNav(#{message.nav.home}, 'home')"></div>
	<div class="container">
		<div class="template">
			<div class="left">
				<h4 class="hidden-xs" th:text="#{message.assets.status(${assets.sum}, ${assets.cash}, ${assets.saving})}"></h4>
				<div class="visible-xs-block">
					<span th:text="#{message.assets.statusSummary(${assets.sum})}"></span> <br /> <span
						th:text="#{message.assets.statusDetail(${assets.cash}, ${assets.saving})}"></span>
				</div>
			</div>
			<div class="left" th:with="i=${monthBudget.income.sum},o=${monthBudget.outgoing.sum},s=${monthBudget.saving.sum},rm=${monthBudget.remain}">
				<h4 class="hidden-xs" th:text="#{message.assets.monthStatus(${rm.sum}, ${o}, ${i}, ${s})}"></h4>
				<span class="visible-xs-block" th:text="#{message.assets.monthStatus(${rm.sum}, ${o}, ${i}, ${s})}"></span>
			</div>
			<div class="left" th:with="i=${todayBudget.income.sum},o=${todayBudget.outgoing.sum},s=${todayBudget.saving.sum},rm=${todayBudget.remain}">
				<h4 class="hidden-xs" th:text="#{message.assets.todayStatus(${rm.sum}, ${o}, ${i}, ${s})}"></h4>
				<span class="visible-xs-block" th:text="#{message.assets.todayStatus(${rm.sum}, ${o}, ${i}, ${s})}"></span>
			</div>
			<div th:each="budget : ${budgets}">
				<div th:replace="budgetTemplate :: budget(${budget}, ${budget.month})"></div>
			</div>
		</div>
	</div>
	<div th:replace="template :: navBottom"></div>
	<button th:replace="template :: adding"></button>
</body>
</html>