<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{message.application.name}"></title>
<link rel="shortcut icon" th:href="@{/favicon/favicon.ico}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="/webjars/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.4.9/angular.min.js"></script>
<script type="text/javascript" th:src="@{/js/customized/index.js}"></script>
</head>
<body data-ng-app="app" data-ng-controller="home as home">
	<div data-ng-show="!home.authenticated">
		<h1 th:text="#{message.login.pleasewait}"></h1>
	</div>
</body>
</html>