<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:replace="template :: head(#{message.nav.records})"></script>

<!-- Bootstrap-Confirmation -->
<script type="text/javascript" src="/js/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<!-- Customized -->
<link rel="stylesheet" type="text/css" th:href="@{/css/customized/records.css}" />
<script type="text/javascript" th:src="@{/js/customized/records.js}"></script>
</head>
<body>
	<div th:replace="template :: menuNav(#{message.nav.records}, 'records')"></div>
	<div th:if="${not #lists.isEmpty(records.records)}" class="body container-fluid visible-xs-block">
		<div class="template">
			<div class="row recordTypeText">
				<span th:each="recordType : ${recordTypes}" th:classappend="${recordType.name}" th:text="${recordType.displayName}"></span>
			</div>
			<div class="row">
				<div class="col-xs-2" th:text="#{message.common.date}"></div>
				<div class="col-xs-5" th:text="#{message.common.item}"></div>
				<div class="col-xs-3" th:text="#{message.common.type}"></div>
				<div class="col-xs-2" th:text="#{message.common.money}"></div>
			</div>
			<div class="row record dataRow" th:each="record : ${records.records}">
				<input class="recordId" type="hidden" th:value="${record.id}" />
				<div class="col-xs-2" th:text="${#dates.format(record.recordDate, 'MM/dd')}"></div>
				<div class="col-xs-5" th:text="${record.name}" data-placement="bottom" data-singleton="true"
					data-toggle="confirmation"
					th:attr="data-title = ${#dates.format(record.recordDate, 'MM/dd')} + ' ' + ${record.name}"></div>
				<div class="col-xs-3" th:classappend="${record.recordTypeName}" th:text="${record.toolTypeDisplayName}"></div>
				<div class="col-xs-2" th:text="${record.money}"></div>
			</div>
		</div>
	</div>
	<div class="body container hidden-xs">
		<div class="template">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1" th:text="#{message.common.date}"></div>
				<div class="col-md-6" th:text="#{message.common.item}"></div>
				<div class="col-md-2" th:text="#{message.common.type}"></div>
				<div class="col-md-1" th:text="#{message.common.money}"></div>
				<div class="col-md-1" th:text="#{message.common.layaway}"></div>
			</div>
			<div class="row record dataRow" th:each="record : ${records.records}">
				<div class="col-md-1">
					<button type="button" class="btn btn-default btn-sm removeRecord" th:attr="recordId = ${record.id}">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default btn-sm editRecord" th:attr="recordId = ${record.id}">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
					<input type="hidden" th:value="${record.id}">
				</div>
				<div class="col-md-1" th:text="${#dates.format(record.recordDate, 'yyyy/MM/dd')}"></div>
				<div class="col-md-6" th:text="${record.name}"></div>
				<div class="col-md-2" th:classappend="${record.recordTypeName}"
					th:text="${record.toolTypeDisplayName + ' - ' + record.recordTypeDisplayName}"></div>
				<div class="col-md-1" th:text="${record.money}"></div>
				<div class="col-md-1" th:text="${record.recordLayaway}"></div>
			</div>
		</div>
	</div>
	<div th:if="${#lists.isEmpty(records.records)}" class="container">
		<div class="template">
			<h4 th:text="#{message.records.noRecord}"></h4>
		</div>
	</div>
	<div th:replace="template :: navBottom"></div>
	<div th:if="${!#lists.isEmpty(records.records)}">
		<div th:replace="template :: pages(${records}, 'records')"></div>
	</div>
	<button th:replace="template :: adding"></button>
</body>
</html>