<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:replace="template :: head(#{message.nav.regularRecords})"></script>

<!-- Bootstrap-Confirmation -->
<script type="text/javascript" src="/js/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<!-- Customized -->
<link rel="stylesheet" type="text/css" th:href="@{/css/customized/regularRecords.css}" />
<script type="text/javascript" th:src="@{/js/customized/regularRecords.js}"></script>
</head>
<body>
	<div th:replace="template :: menuNav(#{message.nav.regularRecords}, 'regularRecords')"></div>
	<div th:if="${not #lists.isEmpty(regularRecords.regularRecords)}">
		<div class="container hidden-xs">
			<div class="template regularRecords">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-2" th:text="#{message.common.creationDate}"></div>
					<div class="col-md-2" th:text="#{message.common.modificationDate}"></div>
					<div class="col-md-2" th:text="#{message.common.name}"></div>
					<div class="col-md-2" th:text="#{message.common.type}"></div>
					<div class="col-md-1" th:text="#{message.common.money}"></div>
					<div class="col-md-2" th:text="#{message.common.note}"></div>
				</div>
				<div class="row regularRecord dataRow" th:each="regularRecord : ${regularRecords.regularRecords}">
					<div class="col-md-1">
						<button type="button" class="btn btn-default btn-sm removeRegularRecord" th:attr="recordId = ${regularRecord.id}">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-default btn-sm editRegularRecord" th:attr="recordId = ${regularRecord.id}">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
						<input type="hidden" th:value="${regularRecord.id}">
					</div>
					<div class="col-md-2" th:text="${#dates.format(regularRecord.creationDate, 'yyyy/MM/dd')}"></div>
					<div class="col-md-2" th:text="${#dates.format(regularRecord.modificationDate, 'yyyy/MM/dd')}"></div>
					<div class="col-md-2" th:text="${regularRecord.name}"></div>
					<div class="col-md-2" th:classappend="${regularRecord.recordTypeName}"
						th:text="${regularRecord.recordTypeDisplayName + ' - ' + regularRecord.toolTypeDisplayName}"></div>
					<div class="col-md-1" th:text="${regularRecord.money}"></div>
					<div class="col-md-2" th:text="${regularRecord.note}"></div>
				</div>
			</div>
		</div>
		<div class="container-fluid visible-xs-block">
			<div class="template regularRecords">
				<div class="row regularRecordTypeText">
					<span th:each="recordType : ${recordTypes}" th:classappend="${recordType.name}" th:text="${recordType.displayName}"></span>
				</div>
				<div class="row">
					<div class="col-xs-5" th:text="#{message.common.name}"></div>
					<div class="col-xs-5" th:text="#{message.common.type}"></div>
					<div class="col-xs-2" th:text="#{message.common.money}"></div>
				</div>
				<div class="row regularRecord dataRow" th:each="regularRecord : ${regularRecords.regularRecords}">
					<input class="recordId" type="hidden" th:value="${regularRecord.id}" />
					<div class="col-xs-5" th:text="${regularRecord.name}" data-placement="bottom" data-singleton="true"
						data-toggle="confirmation" th:attr="data-title = ${regularRecord.name}"></div>
					<div class="col-xs-5" th:text="${regularRecord.toolTypeDisplayName}" th:classappend="${regularRecord.recordTypeName}"></div>
					<div class="col-xs-2" th:text="${regularRecord.money}"></div>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${#lists.isEmpty(regularRecords.regularRecords)}">
		<div class="container">
			<div class="template">
				<h4 th:text="#{message.noData}"></h4>
			</div>
		</div>
	</div>
	<div th:replace="template :: navBottom"></div>
	<div th:if="${!#lists.isEmpty(regularRecords.regularRecords)}">
		<div th:replace="template :: pages(${regularRecords}, 'regularRecords')"></div>
	</div>
</body>
</html>