<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:replace="template :: head(#{message.nav.searchRecords})"></script>
<!-- Bootstrap -->
<script type="text/javascript"
	src="/webjars/bootstrap/3.3.5/js/transition.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/3.3.5/js/collapse.js"></script>

<!-- Bootstrap-datepicker -->
<script type="text/javascript"
	src="/js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="/js/bootstrap-datepicker/bootstrap-datepicker.min.css" />

<script type="text/javascript"
	src="/webjars/jquery-cookie/1.3.1/jquery.cookie.js"></script>

<script type="text/javascript"
	th:src="@{/js/customized/searchingRecord.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/customized/searchingRecord.css}" />
</head>
<body>
	<div
		th:replace="template :: menuNav(#{message.nav.searchRecords}, 'searchingRecord')"></div>
	<div class="container">
		<div class="template">
			<form id="searchForm">
				<div class="row">
					<div class="col-xs-3">
						<label for="fromDatePicker" class="control-label"
							th:text="#{message.common.date}"></label>
					</div>
					<div class="col-xs-9">
						<div class="col-xs-3">
							<div class="input-group date" id="fromDatePicker">
								<input type='text' class="form-control" /> <span
									class="input-group-addon pointer"> <span
									class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<div class="col-xs-1">
							<span>～</span>
						</div>
						<div class="col-xs-3">
							<div class="input-group date" id="toDatePicker">
								<input type='text' class="form-control" /> <span
									class="input-group-addon pointer"> <span
									class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
					</div>
					<input id="fromDate" name="fromDateValue" type="hidden" /> <input
						id="toDate" name="toDateValue" type="hidden" />
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="dropdowns" class="control-label"
							th:text="#{message.common.type}"></label>
					</div>
					<div class="col-xs-9">
						<div id="dropdowns" class="dropdowns">
							<div class="dropdown recordType">
								<button id="recordTypes"
									class="btn btn-default btn-sm dropdown-toggle" type="button"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="true">
									<span th:text="${record.recordTypeDisplayName}"></span> <span
										class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="recordTypes">
									<li th:each="recordType : ${recordTypes}"><a href="#"
										th:value="${recordType.name}"
										th:text="${recordType.displayName}"></a></li>
								</ul>
								<input id="recordType" type="hidden" name="recordType" />
							</div>
							<div class="dropdown toolType">
								<button id="toolTypes"
									class="btn btn-default btn-sm dropdown-toggle" type="button"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="true">
									<span th:text="${record.toolTypeDisplayName}"></span> <span
										class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="toolTypes">
									<li th:each="toolType : ${toolTypes}"><a href="#"
										th:value="${toolType.name}" th:text="${toolType.displayName}"></a>
									</li>
								</ul>
								<input id="toolType" type="hidden" name="toolType" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="recordItem" class="control-label"
							th:text="#{message.common.item}"></label>
					</div>
					<div class="col-xs-9">
						<div class="col-xs-7">
							<input id="recordItem" name="name" type="text"
								class="form-control"
								th:placeholder="#{message.placeholder.enterItem}"
								th:value="${record.name}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="fromMoney" class="control-label"
							th:text="#{message.common.money}"></label>
					</div>
					<div class="col-xs-9">
						<div class="col-xs-3">
							<input id="fromMoney" name="fromMoney" type="number" min="0"
								pattern="[0-9]" class="form-control"
								th:placeholder="#{message.placeholder.enterMoney}" />
						</div>
						<div class="col-xs-1">
							<span>～</span>
						</div>
						<div class="col-xs-3">
							<input id="toMoney" name="toMoney" type="number" min="0"
								pattern="[0-9]" class="form-control"
								th:placeholder="#{message.placeholder.enterMoney}" />
						</div>
					</div>
				</div>
				<button id="searchRecord" type="button"
					class="btn btn-default btn-sm"
					th:text="#{message.button.searchRecord}"></button>
			</form>
		</div>
	</div>
</body>
</html>