<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(pageName)">

<link rel="shortcut icon" th:href="@{/favicon/favicon.ico}">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<!-- JQuery -->
<script type="text/javascript" src="/webjars/jquery/2.1.1/jquery.min.js"></script>

<!-- Angular JS -->
<script type="text/javascript" src="/webjars/angularjs/1.4.9/angular.min.js"></script>

<!-- JQuery UI -->
<link rel="stylesheet" type="text/css" href="/webjars/jquery-ui/1.11.4/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/webjars/jquery-ui/1.11.4/jquery-ui.theme.min.css" />
<script type="text/javascript" src="/webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Bootstrap Notify -->
<script type="text/javascript" src="/webjars/bootstrap-notify/3.1.3-1/bootstrap-notify.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/theme/animate/animate.css}" />

<!-- Angular Bootstrap -->
<script type="text/javascript" src="/webjars/angular-ui-bootstrap/1.3.3/ui-bootstrap.min.js"></script>

<!-- Customized -->
<script type="text/javascript" th:src="@{/js/customized/core.js}"></script>
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/theme/bootstrap/bootstrap.darkly.min.css}" /> -->
<link rel="stylesheet" type="text/css" th:href="@{/css/default/default.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/default/bootstrap-override.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/customized/template.css}" />
<script>
	var app = angular.module('app', [ 'ui.bootstrap' ]);
</script>
<title th:text="#{message.application.name}"></title>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="menuNav(pageName, pageCode)">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<div class="navbar-brand appMark" onclick="window.location.href='/home'">k</div>
				<span class="navbar-brand hidden-xs" th:text="${#authentication.userAuthentication.details.name}"></span> <span
					class="navbar-brand visible-xs-block"
					th:text="${#authentication.userAuthentication.details.name} + ' - ' + ${pageName}"></span>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="records" th:classappend="${pageCode} == 'records' ? 'active' : ''"><a href="/records/1"
						th:text="#{message.nav.records}"></a></li>
					<li class="addingRecord" th:classappend="${pageCode} == 'addingRecord' ? 'active' : ''"><a
						href="/records/adding" th:text="#{message.nav.addRecords}"></a></li>
<!-- 					<li class="searchingRecord" th:classappend="${pageCode} == 'searchingRecord' ? 'active' : ''"><a
						href="/records/searching" th:text="#{message.nav.searchRecords}"></a></li> -->
					<li class="regularRecords" th:classappend="${pageCode} == 'regularRecords' ? 'active' : ''"><a
						href="/records/regular/1" th:text="#{message.nav.regularRecords}"></a></li>
					<li class="addingRegularRecord" th:classappend="${pageCode} == 'addingRegularRecord' ? 'active' : ''"><a
						href="/records/regular/adding" th:text="#{message.nav.addRegularRecords}"></a></li>
					<li class="creditCards" th:classappend="${pageCode} == 'creditCards' ? 'active' : ''"><a href="/creditCards/1"
						th:text="#{message.nav.creditCards}"></a></li>
					<li class="addingCreditCard" th:classappend="${pageCode} == 'addingCreditCard' ? 'active' : ''"><a
						href="/creditCards/adding" th:text="#{message.nav.addCreditCards}"></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div th:fragment="navBottom" class="navbar-fixed-bottom navBottom" style="z-index:50;"></div>
	<div th:fragment="pages(datas, dataName)" class="navbar-fixed-bottom navBottom" style="z-index:100;">
		<nav aria-label="Page navigation" class="pages">
			<ul class="pagination">
				<li class="page-item" th:with="isFirst = ${datas.currentPage == datas.minPage}" th:classappend="${isFirst} ? 'disabled' : ''">
					<a class="page-link" tabindex="-1" aria-label="First" th:href="${isFirst} ? '#' : ${'/' + dataName + '/' + (1)}">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">First</span>
					</a>
				</li>
				<li class="page-item" th:with="isFirst = ${datas.currentPage == datas.minPage}" th:classappend="${isFirst} ? 'disabled' : ''">
					<a class="page-link" tabindex="-1" aria-label="Previous" th:href="${isFirst} ? '#' : ${'/' + dataName + '/' + (datas.currentPage - 1)}">
						<span aria-hidden="true">&lt;</span>
						<span class="sr-only">Previous</span>
					</a>
				</li>
				<li class="page-item" th:with="isCurrent = ${datas.currentPage == pageNumber}" th:classappend="${isCurrent} ? 'active' : ''" th:each="pageNumber : ${#numbers.sequence(datas.minPage, datas.maxPage)}">
					<a class="page-link" th:href="${isCurrent} ? '#' : ${'/' + dataName + '/' + pageNumber}" th:text="${pageNumber}"></a>
				</li>
				<li class="page-item" th:with="isLast = ${datas.currentPage == datas.maxPage}" th:classappend="${isLast} ? 'disabled' : ''">
					<a class="page-link" th:href="${isLast} ? '#' : ${'/' + dataName + '/' + (datas.currentPage + 1)}" aria-label="Next">
						<span aria-hidden="true">&gt;</span>
						<span class="sr-only">Next</span>
					</a>
				</li>
				<li class="page-item" th:with="isLast = ${datas.currentPage == datas.maxPage}" th:classappend="${isLast} ? 'disabled' : ''">
					<a class="page-link" th:href="${isLast} ? '#' : ${'/' + dataName + '/' + (datas.pages)}" aria-label="Last">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Last</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<button th:fragment="adding" id="adding" type="button" class="btn btn-default" onclick="location.href='/records/adding';" style="z-index:150;">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</button>
</body>
</html>