body {
	/* padding-top: 30px;
	background:
		linear-gradient(135deg, black 22px, #171717 22px, #171717 24px, transparent 24px, transparent 67px, #171717 67px, #171717 69px, transparent 69px),
		linear-gradient(225deg, black 22px, #171717 22px, #171717 24px, transparent 24px, transparent 67px, #171717 67px, #171717 69px, transparent 69px)0 64px;
	background-color:black;
	background-size: 64px 128px */
	padding-top: 40px;
	background-color: #e9ebee;
}

.template {
	padding: 12px;
	text-align: center;
	
	background-color: #ffffff;
	margin-top: 12px;
}

.inlineBlock {
	display: inline-block;
}

.flex {
	display: flex;
}

.flex.center {
	-webkit-justify-content: center;
	justify-content: center;
}

.flex.start {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.flex.end {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.flex.itemsCenter {
	-webkit-align-items: center;
	align-items: center;
}

.inlineFlex {
	display: inline-flex;
}

.inlineFlex.spaceBetween {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.justifyContentCenter {
	justify-content: center;
}

.alignItemsCenter {
	align-items: center;
}

html, body {
	height: 100%;
}

.h100p {
	height: 100%;
}

.w100p {
	width: 100%;
}

.paddingTop {
	padding-top: 0.5em;
}

.paddingRight {
	padding-right: 0.5em;
}

.paddingBottom {
	padding-bottom: 0.5em;
}

.paddingLeft {
	padding-left: 0.5em;
}

.marginLeft {
	margin-left: 0.5em;
}

.marginTop {
	margin-top: 0.5em;
}

.pointer {
	cursor: pointer;
}

.scrollable-menu {
	height: auto;
	max-height: 300px;
	overflow-x: hidden;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.navbar {
	min-height: 40px;
	margin-bottom: 10px;
}

.navbar-nav>li>a, .navbar-brand {
	padding-top: 9.5px;
	padding-bottom: 9.5px;
}

.navbar-brand {
	height: 40px;
	color: #ffffff !important;
}

.navbar-header button {
	margin-top: 3px;
	margin-bottom: 3px;
}

.navbar-inverse, .pagination>li>a {
	background-color: #3b5998 !important;
}

.navbar-inverse .navbar-toggle:hover, .dropdown.open>a, .pagination>.active>a {
	background-color: #4c6db3 !important;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-collapse {
	border-color: #2c4372;
}

.navbar-nav>li:hover, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .pagination>.disabled>a {
	color: #ffffff !important;
	background-color: #2c4372 !important;
}

.INCOME {
	font-weight: 600;
	color: #3c763d;
}

.OUTGOING {
	font-weight: 600;
	color: #a94442;
}

.SAVING {
	font-weight: 600;
	color: #4267b2;
}

.BORROWING {
	color: #ffa6a6;	
}

.REFUND {
	color: #a6ffa6;	
}

.SAVING_OUT {
	color: #CA8EC2;
}

.WITHDRAW {
	color: #666666;
}

.pages {
	text-align: center;
}

.pages>ul {
	margin-top: 0.5em!important;
    box-shadow: 0.15em 0.1em 0.25em 0.1em #666666;
}

.dataRow {
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 5px;
}

.dataRow:nth-child(even) {
	background-color: #FFFFFF;
}

.dataRow:nth-child(odd) {
	background-color: #f6f7f9;
}

.displayBlock {
	margin-bottom: 10px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    padding: 5px;
}